@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') ;
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') ;
}
@font-face {
  font-family: 'Manrope-Light';
  src: url('../assets/fonts/Manrope/static/Manrope-Light.ttf') ;
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url('../assets/fonts/Manrope/static/Manrope-Medium.ttf') ;
}
@font-face {
  font-family: 'Manrope-ExtraLight';
  src: url('../assets/fonts/Manrope/static/Manrope-ExtraLight.ttf') ;
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../assets/fonts/Manrope/static/Manrope-SemiBold.ttf') ;
}

 @font-face {
  font-family:'Roger-main' ;
  src: url('../assets/fonts/roger/RogerBold-WyryG.otf');
 }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
